.container {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.container img {
  height: 50px;
  width: 50px;
  padding: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container img {
    height: 30px;
    width: 30px;
  }
}
